.message {
    background: #f1f1f194;
    padding: 10px 30px;
    text-align: center;
}
.message span {
    font-size: 0.8rem;
    font-weight: 500;
}
.message i {
    color: #cacaca;
}

.channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999999;
    font-size: 0.9rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin: 16px var(--margin);
    padding: 16px 0;
}