
.welcome-header{
    margin-top: 90px;
    text-align: center;
}
.welcome-title{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
}
.welcome-text {
    color: #8f8f8f;
    font-weight: 400;
}
#login-form {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    margin-top: 70px;
}
#login-form input{
    border: none;
    font-size: 1.1rem;
    transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]){
    transition: border-color 0.3s ease-in-out;
    border-bottom: 1px solid #d1d1d1;
}

#login-form input:nth-child(1),
#login-form input:nth-child(2){
    margin: 10px 0;
    padding: 0 0 15px 0;
    outline: none;
}
#login-form input:focus {
    border-color: var(--yellow);
}
is {input:nth-child(1), nth-child(2)}::placeholder {
    color: #b6b6b6;
}

#login-form input:nth-child(3) {
    margin: 20px 0;
    line-height: 3rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--yellow);
}
a{
    color: inherit;
    text-decoration: none;
    text-align: center;
}