nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav ul {
    background-color: #f1f1f194;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #a5a5a53b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8rem;
}
nav ul li{
    position: relative;
    color: #2e363e;
}
nav ul li:nth-of-type(2) span {
    font-size: 0.9rem;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--red);
    color: #fff;
    position: absolute;
    top: -8px;
    left: 18px;
}

nav ul li:nth-of-type(4) span{
    content:" ";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--red);
    position: absolute;
    top: -5px;
    left: 30px;
}