.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}
.screen-header h1 {
    font-size: 30px;
    font-weight: 600;
}
.screen-header .screen-header_icon ul {
    display: flex;
}
.screen-header .screen-header_icon i{
    line-height: 30px;
    margin-left: 20px;
    font-size: 18px;
}

